@import "lbh-frontend/lbh/base";

.outer {
  padding: 25px 35px;
  background: lbh-colour("lbh-grey-4");
  // min-height: 100%;
  box-sizing: border-box;
}

.legendLabel {
  display: block;
  @include lbh-body-m;
  font-weight: 600;
  margin-bottom: 0.75em;

  & + * {
    margin-top: 0;
  }
}
