@import "lbh-frontend/lbh/base";

.outer {
  padding: 15px;
  background: lbh-colour("lbh-grey-4");
  box-sizing: border-box;

  @include govuk-media-query($from: tablet) {
    padding: 25px 35px;
  }
}

.legendLabel {
  display: block;
  @include lbh-body-m;
  font-weight: 600;
  margin-bottom: 0.75em;

  & + * {
    margin-top: 0;
  }
}
