node_modules
build/

# keep environment variables out of version control
.env
.env.local
.env.*.local
!.env.sample
.secrets

# don't keep cypress artefacts
cypress/screenshots
cypress/videos

service-user-token.json

fails.json
orphan-ids.json

*.csv