@import "lbh-frontend/lbh/base";

.comment {
  background: lbh-colour("lbh-grey-4");
  padding: 15px;
  border-radius: 10px;

  p + p {
    margin-top: 0.5rem;
  }
}

.meta {
  @include lbh-body-xs;

  svg {
    float: left;
    margin-right: 10px;

    &.tick {
      circle {
        fill: lbh-colour("lbh-primary-button");
      }

      path {
        stroke: lbh-colour("lbh-white");
      }
    }

    &.cross {
      circle {
        fill: lbh-colour("lbh-black");
      }

      path {
        fill: lbh-colour("lbh-white");
      }
    }
  }
}
