@import "lbh-frontend/lbh/base";

.button {
  border: none;
  background: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  @include lbh-link-common;
  @include lbh-link-style-default;
  @include govuk-link-print-friendly;
  @include lbh-rem(font-size, 14);
  @include lbh-rem(line-height, 24);
  margin-top: 0;
  color: lbh-colour("lbh-secondary-text");
}
