@import "lbh-frontend/lbh/base";

.rootedTimeline {
  position: relative;

  button {
    @include lbh-rem(font-size, 14);
    @include lbh-rem(line-height, 24);
    margin-top: 0;
    color: lbh-colour("lbh-secondary-text");
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 3px;
    width: 16px;
    border-bottom: 3px solid lbh-colour("lbh-text");
  }

  & > li {
    ul {
      margin-top: 0;
    }

    &:last-of-type {
      padding-bottom: 25px;
      &:before {
        content: "";
        bottom: 0px;
      }
    }
  }
}

.approvalEvent {
  &::after {
    background-color: lbh-colour("lbh-text");
  }
  svg {
    position: absolute;
    left: -51px;

    z-index: 1;
    height: 10px;
    top: 9px;

    @include govuk-media-query($from: tablet) {
      top: 11px;
    }
  }
}
