@import "lbh-frontend/lbh/base";

.tag,
.tagDone {
  float: right;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: none;
  letter-spacing: 0;
}

.tag {
  font-weight: 400;
  background: lbh-colour("lbh-grey-3");
  color: lbh-colour("lbh-secondary-text");
}

.tagDone {
  background: lbh-colour("lbh-primary-button");
  color: lbh-colour("lbh-white");
}

.heading {
  padding-bottom: 12px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 3px solid lbh-colour("lbh-text");
}
