.form {
  margin: auto;
  padding: 20px;
  max-width: 900px;
  page-break-inside: avoid;

  p {
    margin-top: 0.7rem;
  }
}

.step {
  border-top: 2px solid black;
  margin-top: 60px;
  padding-top: 60px;
}

.text,
.textarea {
  margin-top: 1rem;

  &:after {
    content: "";
    display: block;
    height: 30px;
    border: 3px solid black;
    page-break-inside: avoid;
  }
}

.textarea:after {
  display: block;
  height: 90px;
}

.round,
.square {
  display: flex;
  margin-top: 1rem;

  &:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    border: 3px solid black;
    page-break-inside: avoid;
    flex-shrink: 0;
  }
}

.round:before {
  border-radius: 100%;
}
