@import "lbh-frontend/lbh/base";

.missing {
  color: lbh-colour("lbh-grey-2");
}

.header {
  border-bottom: 3px solid lbh-colour('lbh-text');
  padding-bottom: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  // properly space the case note tile grid when presented inside a collapsible
  & + ul,
  & + p {
    margin-top: 1rem;
  }

  * + * {
    margin-top: 0;
  }

  button:first-child {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
    flex: 1;

    &:hover {
      h2 {
        color: lighten(lbh-colour('lbh-text'), 20);
      }
      svg path {
        fill: lighten(lbh-colour('lbh-text'), 20);
      }
    }

    &:focus:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      border-bottom: 3px solid lbh-colour('lbh-primary-focus');
    }

    // flip sideways when closed
    &[aria-expanded='false'] svg {
      transform: rotate(-90deg);
    }
  }

  div {
    background: lbh-colour('lbh-text');
    margin-right: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
    top: 5px;
    margin-right: 10px;

    @include govuk-media-query($from: tablet) {
      top: 6px;
    }
  }
}
