@import "lbh-frontend/lbh/base";

.wrapper {
  border-top: 1px solid lbh-colour("lbh-grey-3");
  flex: 1;
  display: flex;
  min-height: 0;
  position: relative;
}

.mainPanel {
  flex: 1;

  @include govuk-media-query($from: tablet) {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 0;
    overflow-y: auto;
  }
}

.leftPanel {
  border-right: 1px solid lbh-colour("lbh-grey-3");
  padding: 25px;
  background: lbh-colour("lbh-grey-4");

  @include govuk-media-query($from: tablet) {
    padding: 30px;
    padding-bottom: 150px;
  }
}

.rightPanel {
  margin-top: 0;
  padding: 25px;

  @include govuk-media-query($from: tablet) {
    padding: 30px;
  }
}

.header {
  padding: 20px 25px;
  border-bottom: 1px solid lbh-colour("lbh-grey-3");

  @include govuk-media-query($from: tablet) {
    padding: 25px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 20px;
    left: 20px;
    // this is weird to counteract scrollbar messing up centre point
    right: calc(50vw + 20px);
    background: lbh-colour("lbh-white");
    border: 1px solid lbh-colour("lbh-grey-3");

    * {
      margin-top: 0;
    }
  }
}

.meta {
  color: lbh-colour("lbh-secondary-text");
  margin-top: 0.25rem;
}
