@import "lbh-frontend/lbh/base";

.taskList {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.section {
  @include govuk-responsive-margin(9, "top");
  @include govuk-responsive-margin(9, "bottom");

  &:last-child {
    margin-bottom: 0;
  }
}

.sectionHeader {
  @include govuk-media-query($from: 300px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  button {
    @include lbh-body-s;
    color: lbh-colour("lbh-secondary-text");

    &:hover {
      color: lbh-colour("lbh-grey-1");
    }
    &:focus,
    &:active {
      color: lbh-colour("lbh-text");
    }
  }
}

.items {
  @include govuk-font($size: 19);
  list-style: none;
  padding-left: 0;
  @include govuk-media-query($from: tablet) {
    padding-left: govuk-spacing(6);
  }
}

.item {
  border-bottom: 1px solid lbh-colour("lbh-border");
  margin-top: 0;
  margin-bottom: 0 !important;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  @include govuk-clearfix;

  &:first-child {
    border-top: 1px solid lbh-colour("lbh-border");
  }
}

.taskName {
  display: block;
  @include govuk-media-query($from: 450px) {
    float: left;
  }
}

.tag,
.tagDone {
  float: right;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: none;
  letter-spacing: 0;
}

.tag {
  font-weight: 400;
  background: lbh-colour("lbh-grey-3");
  color: lbh-colour("lbh-secondary-text");
}

.tagDone {
  background: lbh-colour("lbh-primary-button");
  color: lbh-colour("lbh-white");
}

.closedSection {
  button {
    @include lbh-link;
    @include lbh-body-s;
    cursor: pointer;
    color: lbh-colour("lbh-secondary-text");
    display: block;
    width: 100%;
    padding: 15px 25px;
    background: lbh-colour("lbh-grey-4");
    border: none;
    border-top: 1px solid lbh-colour("lbh-grey-3");
    border-bottom: 1px solid lbh-colour("lbh-grey-3");
    text-align: center;

    &:focus {
      box-shadow: none;
    }
  }
}
