@import "lbh-frontend/lbh/base";

.section {
  background: lbh-colour("lbh-grey-4");
  margin-top: 15px;

  * {
    margin-top: 0;
  }

  &[aria-expanded="false"] svg {
    transform: rotate(-90deg);
  }

  svg {
    position: relative;
    z-index: 2;
  }
}

.header {
  padding: 25px;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  // @include govuk-media-query($from: tablet) {
  //   padding: 35px;
  // }
}

.identity {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include govuk-media-query($from: tablet) {
    width: 37%;
  }
}

.button {
  all: unset;
  cursor: pointer;

  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.image {
  border-radius: 100%;
  margin-right: 25px;
  width: 55px;
  height: 55px;
}

.icon {
  margin-left: 25px;
  justify-self: flex-end;
}

.stats {
  display: none;

  div {
    margin-bottom: 15px;
  }

  dd {
    @include lbh-body-m;
  }

  dt {
    @include lbh-body-xs;
    color: lbh-colour("lbh-secondary-text");
  }

  @include govuk-media-query($from: 500px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    div {
      margin-bottom: 0px;
    }
  }

  @include govuk-media-query($from: tablet) {
    width: 40%;
    div {
      margin-bottom: 0px;
    }
  }
}

.workPanel {
  background: lbh-colour("lbh-white");
  border: 3px solid lbh-colour("lbh-grey-4");
  padding: 25px;

  @include govuk-media-query($from: tablet) {
    column-count: 2;
    column-gap: 35px;

    div,
    ul {
      break-inside: avoid-column;
    }
  }
}
