@import "lbh-frontend/lbh/base";

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;

  & > * {
    margin-top: 0;
  }
}

.placeholder {
  color: lbh-colour("lbh-grey-2");
}

.stat {
  background: lbh-colour("lbh-grey-4");

  strong {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    div {
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      width: 12px;
      height: 12px;
    }
  }
}
