@import "lbh-frontend/lbh/base";

.placeholder {
  color: lbh-colour("lbh-grey-2");
}

.outer {
  position: relative;
  background: lbh-colour("lbh-grey-4");
  // bottom margin greater to account for meter height
  padding: 20px 20px 25px 20px;
  margin-top: 0;
  margin-bottom: 20px;
  // force chrome to respect position: relative on table row
  transform: scale(1);

  @include govuk-media-query($from: tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 2rem 35px 2rem;
  }

  * {
    margin-top: 0;
  }

  a {
    color: lbh-colour("lbh-link");
    position: relative;
    z-index: 2;
  }
}
.person {
  margin-bottom: 15px;
  @include govuk-media-query($from: tablet) {
    width: 40%;
    margin-bottom: 0px;
  }
}

.review {
  margin-left: 10px;
  line-height: 1.1rem;
  vertical-align: middle;
  transform: translateY(-1px);
}

.meta {
  @include lbh-body-xs;
  color: lbh-colour("lbh-secondary-text");
  margin-top: 15px;
}

.stats {
  width: 100%;

  @include govuk-media-query($from: 300px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  @include govuk-media-query($from: tablet) {
    width: 270px;
    div {
      margin-bottom: 0px;
    }
  }

  div {
    margin-bottom: 15px;
  }

  dd {
    @include lbh-body-m;
  }

  dt {
    @include lbh-body-xs;
    color: lbh-colour("lbh-secondary-text");
  }
}

.meter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  display: grid;
  gap: 5px;
  grid-template-columns: 3fr 1fr 1fr;

  div {
    height: 100%;
    background: lbh-colour("lbh-grey-3");
  }

  &[data-stage="1"] {
    div:nth-of-type(1) {
      position: relative;
      div {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: lbh-colour("lbh-primary-button");
      }
    }
  }
  &[data-stage="2"] {
    div:nth-of-type(1),
    div:nth-of-type(2) {
      background: lbh-colour("lbh-primary-button");
    }
  }
  &[data-stage="3"] {
    div:nth-of-type(1),
    div:nth-of-type(2),
    div:nth-of-type(3) {
      background: lbh-colour("lbh-primary-button");
    }
  }
}

.held {
  background: transparentize(lbh-colour("lbh-primary-focus"), 0.9);

  [data-stage] div {
    background: transparentize(lbh-colour("lbh-primary-focus"), 0.8);
  }

  [data-stage="1"] {
    div:nth-of-type(1) {
      background: lbh-colour("lbh-primary-focus");
    }
  }
  [data-stage="2"] {
    div:nth-of-type(1) {
      background: lbh-colour("lbh-primary-focus");
    }
    div:nth-of-type(2) div {
      background: lbh-colour("lbh-primary-focus");
    }
  }
  [data-stage="3"] {
    div:nth-of-type(1),
    div:nth-of-type(2),
    div:nth-of-type(3) {
      background: lbh-colour("lbh-primary-focus");
    }
  }
}
