@import 'lbh-frontend/lbh/base';

.table {
  border-collapse: initial;
  table-layout: fixed;
  width: 100%;

  th {
    padding: 10px;
  }

  //   style days
  tbody tr th {
    padding: 10px 10px 10px 3px;
  }

  thead tr th,
  tbody tr td {
    position: relative;
    border-left: 1px solid lbh-colour('lbh-grey-2');
  }

  tbody tr:last-child th,
  tbody tr:last-child td,
  tbody tr th:last-child,
  tbody tr td:last-child {
    background: lbh-colour('lbh-grey-4');
  }

  input[type='number'] {
    display: block;
    border: none;
    background: none;
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    box-sizing: border-box;

    -moz-appearance: textfield;
    appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      opacity: 0;
    }

    &:hover,
    &:focus {
      -moz-appearance: initial;
      appearance: initial;
      z-index: 2;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        opacity: 1;
      }
    }

    &:focus {
      box-shadow: inset 0 0 0 4px lbh-colour('lbh-text');
      outline: 3px solid lbh-colour('lbh-primary-focus');
    }
  }
}
