$lbh-global-styles: true;

@import "node_modules/lbh-frontend/lbh/all";

// fix header display on small devices
.lbh-header__wrapper {
  display: inherit;
  @include govuk-media-query($from: tablet) {
    display: flex;
  }
}

// fix spacing of brand lines
.lbh-header {
  padding-bottom: 1rem;
}

// elements after a hidden element shouldn't attempt to space themselves from it
.govuk-visually-hidden + * {
  margin-top: initial;
}

// fix uneven padding of checkbox labels{
.lbh-checkboxes__label {
  padding-top: 0.25rem;
}

// dialog styles
:root {
  --reach-dialog: 1;
}
[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
[data-reach-dialog-content] {
  width: 50vw;
  margin: 10vh auto;
  background: white;
  padding: 2rem;
  outline: none;
}
