@import "lbh-frontend/lbh/base";

.header {
  @include govuk-media-query($from: tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    * {
      margin-top: 0;
    }
  }
}

.heading {
  span {
    margin-left: 7px;
    vertical-align: middle;
    line-height: 1.1rem;
    transform: translateY(-1px);
  }
}

.headerActions {
  @include govuk-media-query($from: tablet) {
    display: flex;
    flex-direction: row;
    align-items: center;

    * {
      margin-left: 20px;
    }
  }
}

.tabList {
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
}

.tab {
  @include lbh-body-m;
  text-align: center;
  padding: 15px;
  flex: 1;
  margin-top: 0;
  background: lbh-colour("lbh-grey-4");
  border-bottom: 1px solid lbh-colour("lbh-grey-3");

  &:first-of-type {
    border-right: 1px solid lbh-colour("lbh-grey-3");
  }

  &[aria-current] {
    background: lbh-colour("lbh-white");
    font-weight: 600;
    border-bottom: none;
  }

  a {
    text-decoration: none;
    &:visited {
      color: lbh-colour("lbh-link");
    }
    &:focus,
    &:active {
      color: lbh-colour("lbh-text");
    }
  }
}

.timelineWrapper {
  margin-top: 0;
  padding: 25px;
  @include govuk-media-query($from: tablet) {
    padding: 25px 35px;
  }
}

.collapseButton {
  cursor: pointer;
  margin-top: 0;
  height: 30px;
  border: none;
  background: none;
  @include lbh-body-s;
  @include lbh-link;
  color: lbh-colour("lbh-link");

  svg {
    margin-right: 7px;
    path {
      stroke: lbh-colour("lbh-link");
    }
  }
  &:hover svg path {
    stroke: lbh-colour("lbh-link-hover");
  }

  &:focus svg path {
    stroke: lbh-colour("lbh-text");
  }
}

.expandButton {
  cursor: pointer;
  border: none;
  background: lbh-colour("lbh-grey-4");
  @include lbh-body-s;
  @include lbh-link;
  padding: 10px;
  border-right: 1px solid lbh-colour("lbh-grey-3");
  color: lbh-colour("lbh-link");
  writing-mode: vertical-rl;

  div {
    writing-mode: vertical-rl;
  }

  svg {
    margin-top: 7px;
    path {
      stroke: lbh-colour("lbh-link");
    }
  }

  &:hover svg path {
    stroke: lbh-colour("lbh-link-hover");
  }

  &:focus svg path {
    stroke: lbh-colour("lbh-text");
  }
}

// FULL HEIGHT MAGIC STARTS HERE

.plainWrapper {
  margin-top: 0;
}

.fullHeightWrapper {
  margin-top: 0;

  @include govuk-media-query($from: tablet) {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.fullHeightMain {
  @include govuk-media-query($from: tablet) {
    margin-top: 1rem;
    min-height: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.splitPanes {
  border-top: 1px solid lbh-colour("lbh-grey-3");

  @include govuk-media-query($from: tablet) {
    min-height: 0;
    flex: 1;
    display: flex;
    flex-direction: row;
  }
}

.sidebarPane {
  border-right: 1px solid lbh-colour("lbh-grey-3");
  min-height: 100%;

  @include govuk-media-query($from: tablet) {
    width: 250px;
    overflow-y: auto;
  }
  @include govuk-media-query($from: desktop) {
    width: 350px;
    overflow-y: auto;
  }
}

.sidebarPaneCollapsible {
  border-right: 1px solid lbh-colour("lbh-grey-3");
  min-height: 100%;

  display: flex;
  flex-direction: column;

  @include govuk-media-query($from: tablet) {
    width: 250px;
  }
  @include govuk-media-query($from: desktop) {
    width: 350px;
  }

  & > *:first-child {
    flex: 1;
    overflow-y: auto;
    border-bottom: 1px solid lbh-colour("lbh-grey-3");
  }
}

.mainPane {
  margin-top: 0;

  border-top: 1px solid lbh-colour("lbh-grey-3");

  @include govuk-media-query($from: tablet) {
    border-top: 0;
    overflow-y: auto;
    flex: 1;
  }
}

.mainContent {
  padding: 0px;
  height: 100%;
  overflow-x: auto;
  box-sizing: border-box;
}

.columns {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 10px;
  gap: 10px;

  @include govuk-media-query($from: desktop) {
    padding: 20px;
    gap: 20px;
  }

  // adds a margin to the end of the scrollable section for some reason
  &:after {
    display: block;
    content: "";
    border: 1px solid transparent;
  }
}

.mainContentProportionalMargins {
  padding: 25px;
  padding-bottom: 5px;

  @include govuk-media-query($from: tablet) {
    padding: 45px 10vw;
    padding-bottom: 5px;
  }
}

.footer {
  border-top: 1px solid lbh-colour("lbh-grey-3");
  padding: 25px;
  @include govuk-media-query($from: tablet) {
    padding: 45px 10vw;
  }
}
