@import "lbh-frontend/lbh/base";

// make grid rows work with position: sticky
.outer {
  @include govuk-media-query($from: tablet) {
    display: flex;
  }
}

.sticky {
  @include govuk-media-query($from: tablet) {
    position: sticky;
    top: 25px;
    margin-left: 10px;
  }
}
